@media (max-width: 400px) {
    #header {
        display: flex;
    }

    #header-img, #nav-bar {
        flex-direction: column;
    }
}

#container {
    display: flex;
}

header {
    top: 0;
    position: fixed;
}